<!DOCTYPE html>
<title>Media Mood-O-Meter</title>
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap"
  rel="stylesheet"
/>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
<body>
  <header>{% block header %}{% endblock %}</header>
  <section class="main">{% block content %}{% endblock %}</section>
</body>
