<!DOCTYPE html>
<title>Media Mood-O-Meter</title>
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  rel="apple-touch-icon"
  sizes="180x180"
  href="{{ url_for('static', filename='/apple-touch-icon.png') }}"
/>
<link
  rel="icon"
  type="image/png"
  sizes="32x32"
  href="{{ url_for('static', filename='/favicon-32x32.png') }}"
/>
<link
  rel="icon"
  type="image/png"
  sizes="16x16"
  href="{{ url_for('static', filename='/favicon-16x16.png') }}"
/>
<link
  rel="manifest"
  href="{{ url_for('static', filename='/site.webmanifest') }}"
/>
<link
  href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap"
  rel="stylesheet"
/>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
<body>
  <header>{% block header %}{% endblock %}</header>
  <section class="main">{% block content %}{% endblock %}</section>
</body>
