acme==1.1.0
alembic==1.7.5
anyio==3.4.0
apache-airflow==2.2.3 --constraint "https://raw.githubusercontent.com/apache/airflow/constraints-2.2.3/constraints-no-providers-3.9.txt"
apache-airflow-providers-ftp==2.1.2
apache-airflow-providers-http==2.1.2
apache-airflow-providers-imap==2.2.3
apache-airflow-providers-sqlite==2.1.3
apispec==3.3.2
argcomplete==1.12.3
attrs==20.3.0
Automat==0.8.0
Babel==2.9.1
beautifulsoup4==4.10.0
blinker==1.4
cattrs==1.5.0
certbot==0.40.0
certbot-nginx==0.40.0
certifi==2020.12.5
cffi==1.15.0
chardet==3.0.4
charset-normalizer==2.0.9
click==8.0.3
clickclick==20.10.2
cloud-init==22.1
colorama==0.4.4
colorlog==4.8.0
command-not-found==0.3
commonmark==0.9.1
ConfigArgParse==0.13.0
configobj==5.0.6
constantly==15.1.0
croniter==1.0.15
cryptography==36.0.0
dbus-python==1.2.16
defusedxml==0.7.1
dill==0.3.2
distro==1.4.0
distro-info===0.23ubuntu1
dnspython==2.1.0
docutils==0.16
email-validator==1.1.3
entrypoints==0.3
Flask==1.1.2
Flask-AppBuilder==3.4.1
Flask-Babel==2.0.0
Flask-Caching==1.10.1
Flask-JWT-Extended==3.25.1
Flask-Login==0.4.1
Flask-OpenID==1.3.0
Flask-SQLAlchemy==2.5.1
Flask-WTF==0.14.3
future==0.18.2
graphviz==0.19.1
gunicorn==20.1.0
h11==0.12.0
httpcore==0.13.7
httplib2==0.14.0
httpx==0.19.0
hyperlink==19.0.0
idna==3.3
importlib-metadata==4.8.2
importlib-resources==5.7.1
incremental==16.10.1
inflection==0.5.1
iniconfig==1.1.1
iso8601==1.0.2
isodate==0.6.0
itsdangerous==1.1.0
Jinja2==3.0.3
josepy==1.2.0
jsonpatch==1.22
jsonpointer==2.0
jsonschema==3.2.0
keyring==18.0.1
language-selector==0.1
launchpadlib==1.10.13
lazr.restfulclient==0.14.2
lazr.uri==1.0.3
lazy-object-proxy==1.4.3
lockfile==0.12.2
lxml==4.8.0
Mako==1.1.6
Markdown==3.3.6
MarkupSafe==2.0.1
marshmallow==3.14.1
marshmallow-enum==1.5.1
marshmallow-oneofschema==3.0.1
marshmallow-sqlalchemy==0.26.1
mock==3.0.5
more-itertools==4.2.0
netifaces==0.10.4
nltk==3.7
numpy==1.22.3
oauthlib==3.1.0
openapi-schema-validator==0.1.5
openapi-spec-validator==0.3.1
packaging==21.3
pandas==1.4.2
parsedatetime==2.4
pbr==5.4.5
pendulum==2.1.2
pexpect==4.6.0
pluggy==1.0.0
prison==0.2.1
psutil==5.8.0
py==1.11.0
pyarrow==8.0.0
pyasn1==0.4.2
pyasn1-modules==0.2.1
pycparser==2.21
Pygments==2.10.0
PyGObject==3.36.0
PyHamcrest==1.9.0
PyICU==2.4.2
PyJWT==1.7.1
pymacaroons==0.13.0
PyNaCl==1.3.0
pyOpenSSL==19.0.0
pyparsing==3.0.6
pyRFC3339==1.1
pyrsistent==0.15.5
pyserial==3.4
pytest==7.1.2
python-apt==2.0.0+ubuntu0.20.4.7
python-daemon==2.3.0
python-dateutil==2.8.2
python-debian===0.1.36ubuntu1
python-nvd3==0.15.0
python-slugify==4.0.1
python3-openid==3.2.0
pytz==2021.3
pytzdata==2020.1
PyYAML==5.4.1
requests==2.26.0
requests-toolbelt==0.8.0
requests-unixsocket==0.2.0
rfc3986==1.5.0
rich==10.16.0
SecretStorage==2.3.1
service-identity==18.1.0
setproctitle==1.2.2
simplejson==3.16.0
six==1.16.0
sniffio==1.2.0
sos==4.3
soupsieve==2.3.2.post1
SQLAlchemy==1.3.24
SQLAlchemy-JSONField==1.0.0
SQLAlchemy-Utils==0.37.9
ssh-import-id==5.10
swagger-ui-bundle==0.0.9
systemd-python==234
tabulate==0.8.9
tenacity==8.0.1
termcolor==1.1.0
text-unidecode==1.3
tomli==2.0.1
Twisted==18.9.0
ubuntu-advantage-tools==27.7
ufw==0.36
unattended-upgrades==0.1
unicodecsv==0.14.1
urllib3==1.26.7
vaderSentiment==3.3.2
wadllib==1.3.3
Werkzeug==1.0.1
WTForms==2.3.3
zipp==3.6.0
zope.component==4.3.0
zope.event==4.4
zope.hookable==5.0.0
zope.interface==4.7.1