body {
  font-family: 'Roboto Mono', monospace;
}

header {
  margin-top: 100px;
  text-align: center;
}

ul {
  padding-inline-start: 0px;
}

li {
  list-style-type: none;
  text-align: left;
}

.subheader {
  text-align: center;
  margin-top: 60px;
}

.meter-wrapper {
  display: flex;
  justify-content: center;
  margin-top: -15px;
}

.meter {
  min-width: 69px;
  height: 10px;
  background: #fe0000;
}

.meter:nth-child(2) {
  background: #ffa201;
}

.meter:nth-child(3) {
  background: #4dcdff;
}

.meter:nth-child(4) {
  background: #84d883;
}

.meter:nth-child(5) {
  background: #00d903;
}

.sentiment-wrapper {
  display: flex;
  justify-content: center;
}

.sentiment-container {
  width: 600px;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.content-spacer {
  margin-top: 120px;
}

.face {
  width: 100px;
  height: 100px;
  position: relative;
}

.eye {
  position: absolute;
  width: 10px;
  height: 10px;
  background: black;
  z-index: 1;
  left: 16px;
  top: 32px;
}

.eye:last-child {
  left: auto;
  right: 16px;
}

.mouth {
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  z-index: 1;
  margin: 0 auto;
  width: 50px;
  height: 25px;
  border-radius: 0 0 30px 30px;
  border: 4px solid black;
  overflow: hidden;
}

.ecstatic .face {
  background: #00d903;
}

.ecstatic .mouth {
  background: black;
}

.up-beat .face {
  background: #84d883;
}

.up-beat .mouth {
  -webkit-clip-path: inset(40% 0 0 0);
  clip-path: inset(40% 0 0 0);
}

.indifferent .face {
  background: #4dcdff;
}

.indifferent .mouth {
  border-radius: 0;
  border: 0px;
  border-bottom: 4px solid black;
}

.annoyed .face {
  background: #ffa201;
}

.annoyed .mouth {
  border-radius: 30px 30px 0 0;
  -webkit-clip-path: inset(0 0 30% 0);
  clip-path: inset(0 0 30% 0);
}

.seething .face {
  background: #fe0000;
}

.seething .mouth {
  border-radius: 30px 30px 0 0;
  background: black;
}

.trend {
  font-size: larger;
  font-weight: bold;
}

.up {
  color: #00d903;
}

.down {
  color: #fe0000;
}

.word-container {
  width: 180px;
  display: flex;
  justify-content: center;
}
