{% from "macros.html" import face, direction with context %} {% extends
'base.html' %} {% block header %}
<h1>Media Mood-O-Meter</h1>
<div class="meter-wrapper">
  <div class="meter"></div>
  <div class="meter"></div>
  <div class="meter"></div>
  <div class="meter"></div>
  <div class="meter"></div>
</div>
{% endblock %} {% block content %}
<div class="sentiment-container">
  <div>
    <h3>Left Leaning:</h3>
    {{ face(moods['left']) }}
    <span>{{ sentiment['left_mean_sentiment'] }}%</span>
    {{ direction(trend['left']) }}
  </div>
  <div>
    <h3>All Media:</h3>
    {{ face(moods['all']) }}
    <span>{{ sentiment['all_mean_sentiment'] }}%</span>
    {{ direction(trend['all']) }}
  </div>
  <div>
    <h3>Right Leaning:</h3>
    {{ face(moods['right']) }}
    <span>{{ sentiment['right_mean_sentiment'] }}%</span>
    {{ direction(trend['right']) }}
  </div>
</div>
{% endblock %}
